.title {
    color: #04A1AE !important;
    font-weight: 700;
}

#menu-content {
    transition: transform 0.3s ease-in-out;
    /* Ajoute une transition fluide à la transformation du menu */
}


.content {
    border-color: #04A1AE;
    background: #E9ECEF;
    color: #04A1AE;
    margin: 0 0 25px 0;
    border-radius: 10px;
}


.col-centered {
    display: flex;
    align-items: center;
}

.col-right {
    margin-left: auto;
}

.form-check-input {
    transform: scale(1.5);
}

.btn {
    /* padding: 10px 50px; */
    border-radius: 30px;
}

.btn-primary {
    color: white;
    background: #04A1AE !important;
    border-color: #04A1AE !important;
}


.btn-primary:hover {
    background: #03737d !important;
    border-color: #03737d !important;
}

.btn-primary:active {
    background: #02555c !important;
    border-color: #02555c !important;
}

.border-primary {
    border-color: #04A1AE !important;
}

.table {
    --bs-table-bg: none;
}

/* Alignement de la dernière colonne du corps du tableau */
.table tbody tr td:last-child {
    text-align: right;
}

/* Alignement de la dernière colonne de l'en-tête du tableau */
.table thead tr th:last-child {
    text-align: right;
}

@media (max-width: 576px) {
    .btn {
        padding: 6px 30px;
        border-radius: 20px;
    }

    .table tbody tr td:last-child {
        text-align: left;
    }

    /* Alignement de la dernière colonne de l'en-tête du tableau */
    .table thead tr th:last-child {
        text-align: left;
    }
}