<div class="col-md-12  border p-3 content" id="forfait">
    <div class="row">
        <div class="col col-centered">
            <h2 class="fs-3">Forfait MOBILE - (MOB<span id="idForfait"></span>)</h2>
        </div>
        <div class="col col-centered">
            <a href="#" class="h2 fs-3 col-right"> Voir les forfaits > </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <strong class="text-black" id="typeForfait">Sans engagement</strong>
        </div>
        <div class="col">
            <strong class="text-black" id="dateForfait">Souscrit le 01/01/2023</strong>
        </div>
        <div class="col">
            <strong class="text-black" id="forfaitActive">Activé le 06/01/2023</strong>
        </div>
    </div>
</div>