<form class="text-center">
    <div class="text-center">
        <h4 class="mt-1 mb-5 pb-1">Connexion</h4>
      </div>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Addresse mail</label>
      <input type="email" id="form2Example1" class="form-control border-primary" />
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Mot de passe</label>
      <input type="password" id="form2Example2" class="form-control border-primary" />
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">  
      <div class="col">
        <!-- Simple link -->
        <a href="#!">Mot de passe oublié?</a>
      </div>
    </div>
  
    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4">Connexion</button>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Pas membre? <a href="inscription.html">Inscription</a></p>
    </div>
  </form>