<form>
    <!-- Name input -->
    <div class="form-outline mb-4">
        <label class="form-label text-primary" for="name">Nom</label>
        <input type="text" id="name" placeholder="Doe" class="form-control border-primary" />
    </div>
    <!-- Surname input -->
    <div class="form-outline mb-4">
        <label class="form-label text-primary" for="surname">Prénom</label>
        <input type="text" id="surname" placeholder="John" class="form-control border-primary" />
    </div>
    <div class="row">
        <!-- Name input -->
        <div class="col-6 form-outline mb-4">
            <label class="form-label text-primary" for="adress">Adresse de facturation</label>
            <input type="" id="adress" placeholder="1 Rue de la Paix" class="form-control border-primary" />
        </div>
        <!-- Surname input -->
        <div class="col-6 form-outline mb-4">
            <label class="form-label text-primary" for="code">Code Postal</label>
            <input type="email" id="code" placeholder="70123" class="form-control border-primary" />
        </div>
    </div>
    <div class="row">
        <!-- Name input -->
        <div class="col-6 form-outline mb-4">
            <label class="form-label text-primary" for="phone">Téléphone</label>
            <input type="tel" id="phone" pattern="[0-9]{10}" placeholder="0123456789" class="form-control border-primary" />
        </div>
        <!-- Surname input -->
        <div class="col-6 form-outline mb-4">
            <label class="form-label text-primary" for="city">Ville</label>
            <input type="text" id="city" placeholder="Paris" class="form-control border-primary" />
        </div>
    </div>
</form>