<form class="text-center was-validated">
  <div class="text-center">
      <h4 class="mt-1 mb-5 pb-1">Inscription</h4>
    </div>
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="form3Example1">Nom</label>
        <input type="text" id="form3Example1" class="form-control border-primary" />
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="form3Example2">Prénom</label>
        <input type="text" id="form3Example2" class="form-control border-primary" />
      </div>
    </div>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Adresse mail</label>
    <input type="email" id="form3Example3" class="form-control border-primary" />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example4">Mot de passe</label>
    <input type="password" id="form3Example4" class="form-control border-primary" />
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Inscription</button>
</form>