<div class="col-md-12 col-xl-6 border p-3 content" id="paiement">
    <div class="row">
        <div class="col col-centered">
            <h2 class="fs-3">Mode de paiement</h2>
        </div>
        <div class="col text-end">
            <button class="btn btn-primary"> Modifier </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <span class="text-black">Carte bleu</span><br />
            Prochain paiement: <strong class="text-black">15/06/2023</strong><br />
        </div>
    </div>
</div>