<div class="col-md-12 col-xl-6 border p-3 content" id="service">
    <div class="row">
        <div class="col">
            <h2 class="fs-3">Mes services</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <table class="table">

                <tbody>
                    <tr>
                        <td><strong>Appels, SMS, MMS et internet en voyage</strong>

                        </td>
                        <td>
                            <button class="btn btn-primary">Je désactive</button>
                        </td>

                    </tr>
                    <tr>
                        <td><strong>Mon téléphone a été volé/perdu</strong>

                        </td>
                        <td>
                            <button class="btn btn-primary">Susprendre</button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Je souhaite remplacer ma carte SIM</strong>

                        </td>
                        <td>
                            <button class="btn btn-primary">Commander</button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Bloquer des appels entrants</strong>

                        </td>
                        <td>
                            <button class="btn btn-primary">Gérer</button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Mon code PUK</strong>

                        </td>
                        <td>
                            <strong>123456789</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>